*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}

/* navbar style--- */
#navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 2rem 0;
}
.btn button{
    padding: 1rem;
    border: none;
    border-radius: 12px;
    background-color: green;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s;
}
.btn button:hover{
    background-color: blue;
}
#outlineBtn button{
    padding: 1rem;
    border: solid 1px white;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    transition: all .6s;
}
#outlineBtn button:hover{
    background-color: blue;
    border: none;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
ul a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
ul li{
    list-style: none;
}
/* home section style */
#homeSection{
    background-image: url(./Images/hero-bg.png);
    width: 100%;
    height: 80vh;
    margin: 3rem 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#homeSection h1 {
    color: white;
    font-size: 4.5rem;
}
#homeSection h1 span{
    color: green;
    font-size: 4.5rem;
}
#homeSection p{
    font-size: 1.3rem;
    line-height: 2rem;
    color: white;
}
.early{
    background-color: white;
    border-radius: 16px;
    padding: .6rem;
    color: green;
    width: 300px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.allBtn{
    display: flex;
    gap: 3rem;
    padding: 2rem;
}

/*  Structure section style */

#structure{
    color: black;
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
    height: 67vh;
}
#structure h1{
    font-size: 3.5rem;
    padding: 1rem 0;
}
#structure p{
    font-size: 1.2rem;
    color: rgb(132, 125, 125);
}
/* card style */
.cards{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.card{
    width: 25%;
    height: fit-content;
    padding: 3rem 1rem;
    background-color: rgb(254, 252, 252);
    border-radius: 8px;
    box-shadow: 1px 1px 5px #888888;
    margin: 2.5rem 0;
}
.card img{
    background-color: red;
    border-radius: 50%;
    padding: .8rem;
}
.card h2{
    padding: 1.5rem;
}
.card p{
    font-size: 1.1rem;
    padding-top: .5rme;
}

/* second secton style */
#second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    height: 80vh;
    margin: 0 auto;
}
 .secondStructure h4{
    color: green;
    text-transform: uppercase;
    margin: 1.5rem 0;
}
 .secondStructure h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}
 .secondStructure p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
 .secondStructure li{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    list-style: none;
}
/* ready section style */
#ready{
    max-width: 85%;
    height: 50vh;
    background-color: rgb(209, 207, 204);
    margin: 5rem auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ready h1{
    font-size: 3rem;
    padding-bottom: 1rem;
}
#ready p{
    font-size: 1.3rem;
    padding-bottom: 1rem;
    width: 48%;
    text-align: center;
    color: rgb(132, 125, 125);
    padding: 1rem 0;
}
/* footer section style */
#footer{
    width: 100%;
    height: 35vh;
    background-color: rgb(19, 34, 56);
    margin: 0 auto;
    color: white;
}
.firstDiv{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}
.socialLink h4{
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
}
.allIcons{
    font-size: 1.3rem;
    padding-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.secondDiv span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

}
.hr{
    border: none;
   border-top: 2px solid gray;

}